<h1>AWS Subnets info</h1>
<h2>You have {{subnetCount}} subnets across the {{region}}</h2>
<div class="region-filter">
    <label for="region-filter">Region:</label>
    <select onchange="document.location.href = '/network/' + this.value" name="region" id="region">
        <option value="" selected>Choose a region</option>
        <option value="us-east-1">Us-East-1</option>
        <option value="sa-east-1">Sa-East-1</option>
    </select>
</div>
<div class="table-wrapper">
    <table class="fl-table">
        <thead>
            <tr>
                <th>VPC ID</th>
                <th>Subnet ID</th>
                <th>Availability Zone</th>
                <th>Subnet CIDR</th>
                <th>Available IPs</th>
            </tr>
        </thead>
        <tbody>
            {{#each results}}
            <tr>
                <td>{{this.VpcId}}</td>
                <td>{{this.SubnetId }}</td>
                <td>{{this.AvailabilityZone}}</td>
                <td>{{this.CidrBlock}}</td>
                <td>{{this.AvailableIpAddressCount}}</td>
            </tr>
            {{/each}}
            <tr>
        <tbody>
    </table>
</div>